<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>lol账号交易网(lolzhanghao.com)</title>
		<meta name="description" content="lol账号交易网致力于打造便捷、可靠的多元化、多方式的在线lol账号交易平台" />
		<meta name="keyword" content="lol账号、lol账户、lol帐号、lol帐户、lol艾欧尼亚、lol比尔吉沃特、lol祖安、lol交易" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="../commonjs/vue.min.js"></script>
		<script src="../commonjs/vue-resource.min.js"></script>

		<link rel="stylesheet" href="../commoncss/mui.min.css" />
		<script src="../commonjs/mui.min.js"></script>
		
		<link rel="stylesheet" href="index.css" />
		
		<script src="user_log.js"></script>
		<script src="index.js"></script>

		<body>
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">用户日志列表</h1>
			</header>
			<div id="app">
				<span v-if="sites.data">
				<span v-if="sites.data.length===0" class="norecord">未查询到记录
				</span>
				<span v-else>
					<div class="mui-content">
						<ul class="mui-table-view mui-table-view-chevron">
							<li v-for="item in sites.data" class="mui-table-view-cell">
								<table>
									<p class="item">用户日志ID：{{item.id}}</p>
									<p class="item">用户ID：{{item.userId}}</p>
									<p class="item">手机号码：{{item.phone}}</p>
									<p class="item">创建时间：{{ item.createTime }}</p>
									<p class="item">更新时间：{{ item.lastUpdateTime }}</p>
									<p class="item">操作类型:
										<span v-if="item.optType===0" style="color:green;">新增</span>
									</p>
									<p class="item">用户日志uuid：
									</p>
									<p class="item">
										{{ item.uuid }}
									</p>
								</table>
							</li>
						</ul>
					</div>

					<div class="mui-content-padded">
						<ul class="mui-pagination mui-pagination-sm" style="cursor: pointer;">
							<li v-if="page>1">
								<a v-on:click="page--,pageClick()">上一页</a>
							</li>
							<li v-if="page==1" v-bind:class="{ 'mui-previous mui-disabled': page == 1}">
								<a>上一页</a>
							</li>
							<li v-for="index in indexs" v-bind:class="{ 'mui-active': page == index}">
								<a v-on:click="btnClick(index)">{{ index }}</a>
							</li>
							<li v-if="page!=totalPage">
								<a v-on:click="page++,pageClick()">下一页</a>
							</li>
							<li v-if="page == totalPage" v-bind:class="{ 'mui-previous mui-disabled': page == totalPage}">
								<a>下一页</a>
							</li>
							<li>
								<a>共<i>{{totalPage}}</i>页</a>
							</li>
						</ul>
					</div>
				</span>
				</span>
			</div>
		</body>

</html>